*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
    scroll-behavior: smooth;
}
body {
color: white;
font-family: 'verdana', sans-serif;
background: rgba(0,0,0, 0.8);

}
/*------ the start of header-----*/
header {
    width: 100%;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: fixed;
    z-index: 4;
    background: rgba(0,0,0, 0.6);
    
}

.logo-text {
    margin: 0 0 0 27px;
    color: #fff;
    text-decoration: none;
    font-family: 'Kaushan script';
    font-size: 5vh;
}
span {
    color:#FEA609;
}
.navbar {
    display: flex;
    align-items: center;
}
.navbar ul {
  justify-content: space-between;
}
.navbar li {
    position: relative;
    list-style: none; 
    padding: 10px;
  }
.navbar a {
    font-weight: 400px;
    font-size: 4vh;
    text-decoration: none;
    color: #fff;
}
.navbar a:hover {
    color: #FEA609;
}
.nav-btn {
    justify-content: space-between;
    margin: 20px;
    padding-left: 10vw;
    
}


.nav-btn a {
    font-weight: 400px;
    font-size: 4vh;
    text-decoration: none;
    color: #000;
    padding: 5px;
}

.log-in-btn  {
    background: #FEA609;
    border-radius: 10px;
    margin-right: 15px;
    padding: 5px;
}
.log-in-btn a:hover {
    color: white;   
}
#menu-icon {
    font-size: 4vh;
    color: white;
    cursor: pointer;
    display: none;
    cursor: pointer;
}

/*--- the start of the Homepage-----*/
section {
    padding: 4vh; 
    height: 100vh;
   
}
.home {
    height: 100vh;
    background-color: black;
    background-image:url('now1.jpg');
    background-repeat:no-repeat;
    background-size: 50%;
    background-position: right 10px;
}
.home-text {
    margin-left: 5vw;
    margin-top: 40vh;
}
 h1 {
    font-size: 5vh;
    padding-bottom:20px;

}

.cv-btn button {
    border-radius: 10px;
    font-size: 4vh;
    background: #fff;
    padding: 10px;
    border: none;
    
}
.cv-btn button:hover{
    background: #FEA609;
    opacity: 0.4;
}
.cv-btn {
margin-left:80%;
margin-bottom: 2vh;
   
}
.cv-btn a{
    text-decoration: none;
    color: #000;
}
/*------the end of homepage------*/
/*-----About me page------*/
h2 {
    color: #FEA609;
    text-align: center;
    padding-top: 80px;
    font-size: 4vh;

}
.abt{
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 0;
}
.abt1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw;

}
 .abt1 i {
    
    font-size: 5vh;
    padding: 1vw;
    padding-top: 40px;
}
.abt2 {
    margin: 0;
    font-size: 4vh;
    margin-top: 10vh;
}
.abt2 i {
    padding: 10px;
}
.project {
    background: #FEA609;
    font-size: 3vh;
    padding: 1vh;
    margin-left: 30vw;
    margin-top: 0;
}
.project a {
    text-decoration: none;
    color: #000;
}
.project:hover {
    opacity: 0.7;
    color: #fff;
}

/*--------the start of Skills page---------*/

.skill {
    display: flex;
    justify-content: flex-start;
    margin-left: 2vw;
  
} 
.container-1{
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin-left: 5%;
  
}

.container-1 div {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 10px;
    justify-content: center;
    align-items: center;

}
.container-1 div i {
    font-size: 10vh;
    background: #FEA609;
    padding: 10px;
    text-align: center;
}
.container-2{
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-left: 5%;
  
}
.container-2 div {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 10px;
    justify-content: center;
    align-items: center;


}
.container-2 div i {
    font-size: 3rem;
    background: #FEA609;
    padding: 10px;

    text-align: center;
}


h3 {
    padding: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 30px;

}
.lan{
    padding-left: 5vh;
}
.skill2 {
    margin-left: 30vw;
}

/*-----end of skills page*/
/*-----the start of my-work page-----*/

.my-work-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,auto));
    grid-gap: 2rem;
    align-items: center;
    cursor: pointer;
    padding: 10vh;   
}
.my-work-content .row img {
    max-width: 100%;
    width: 50vw;
    height: 40vh;
}
.my-work-content .row img:hover {
    opacity: 0.6;
}
.row{
    padding: 0 0 30px 0;
    background: #D9D9D9;
    width: 80%;
}
.row a{
    text-decoration: none;
    color: black;
    padding: 30px;
    font-weight: bold;
}
h6{
    padding: 10px;
    color:black;
    font-size: small;
}

.blog-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,auto));
    grid-gap: 2rem;
    align-items: center;
    cursor: pointer;
    padding: 10vh; 
    
}
.blog-content .row img {
    max-width: 100%;
    width: 50vw;
    height: 40vh;
}
.blog-content .row img:hover {
    opacity: 0.6;
}
.row{
    padding: 0 0 30px 0;
    background: #D9D9D9;
    /* height: 380px; */
    width: 80%;
}
.row a{
    text-decoration: none;
    color: black;
    padding: 30px;
    font-weight: bold;
}
.row a:hover {
    color: #FEA609;
}
/*-------the end of blog page------*/
/*-------the start of contact-me page------*/

.contact-me1{
    display: flex;
    margin-top: 80px;
}

.contact-me1 p {

    padding-left: 5vw;
}



.cont input {
    border-right: none;
    border-left: none;
    border-top: none;
    background: none;
    margin: 0;
    width: 15vw;
    font-size: 20px;
    color: white;
   
}
.cont label {
    font-size: 2vh;
}

.cont {
    height: auto;
    border-radius: 50%;
    width: auto;
    margin-left: 60%;
    margin-top: -5vh;

}
.cont form {
    padding: 5vh;
    padding-left: 7vw;
    padding-right: 7vw;

}
h5 {
    padding: 20px;
}
.send {

    border-radius: 50%;
    padding: 20px;
    background: white;
    color: black;
    border-color: black;
    border-style: solid;
    box-shadow: #000;
    margin-top: 47vh;
    margin-left: 8vw;
}
#error-message {
    background: red;
    font-size: 2vh;
    text-align: center;
}



/*-----the end of contact-me page--------*/
/*----the start of footer-------*/
footer{
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subs {
    margin-left: 5vw;
    margin-bottom: 2vh;
}
.subs button {
    padding: 1vh;
    background: #FEA609;
    font-size: 3vh;
}
.subs button:hover {
    opacity:0.5;
    color: #fff;
}
.subs input {
    padding: 1vh;
    font-size: 3vh;
}
.subs h3 {
    text-align: start;
}
.cont1 i {
    font-size: 5vh;
    margin-bottom: 5vh;
    padding-left: 1vw;
}
.cont1{
    margin-top: 3vh;
}


/*------the start of login page------*/
.arrow i{
    border-radius: 50%;
    font-size: xx-large;
    color: black;
    border: #000 solid;
}
.form1 {
    background: rgba(217, 217, 217, 0.24);
    height: auto;
    width: auto;
    margin: 40px 400px 40px 400px;
    border-radius: 30px;
    border-style: none;

}
.form1 input {
    border-right: none;
    border-left: none;
    border-top: none;
    background: none;
    border-bottom: #fff solid;
    padding: 10px;
    width: 200px;

   
}
.form1 label {

    color: white;
   
}
.form1 form {
    padding: 50px;
}

.form1 label {
    font-size: x-large;
}
.form1 button {
    background: #FEA609;
    margin-top:20px;
    margin-left: 70%;
    padding: 10px;
    font-size: 4vh;
    border-radius: 10px;
    border: none;

}
.form1 button:hover {
    opacity: 0.6;
    color: #D9D9D9;
}

/*-------the end of login page------*/



/* ----the start of dashboard page---- */
.dashboard {
    
    margin: 10vh;
    background: rgba(217, 217, 217, 0.24);
    margin-top: 2vh;
    border-radius: 3vh;
}
.board-nav {
    background: #000;
    border-radius: 3vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    z-index: 4;

}
.board-nav ul {
    list-style: none;
    justify-content: space-between;
    display: flex;
    align-items: center;
    
 
}
.board-nav li {
    list-style: none;
    padding-top: 2vh;
    position: relative;
    padding: 2vw;
 
}
.board-nav a {
    text-decoration: none;
    color: #fff;
    

}
.logo i {
    margin-left: 12vw;
    padding-right: 2vh;
    font-size: 4vh;
}
.logo {
    margin-top: 5vh;
    padding-bottom: 4vh;
}
.dashboard a:hover {
    color: #FEA609;
}
.board-btn {
    /* margin-left: 14vw; */
    margin-bottom: 5vh;
    padding: 1vh;
    border-radius: 1vh;
    margin-top: 5vh;
}
.board-btn a {
    color: black;
}
.srch {
    margin-left: 70%;
    display: flex;
    padding-top: 5vh;
}
.srch i {
    font-size: 4vh;
}
.srch button {
    background: #FEA609;
    color: #000;
    font-size: 4vh;
}
/* ------- the dashboard page------*/

#recentMessage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    position: relative;
    margin-left: 10vh;
    margin-right: 10vh;
}

#recentMessage div {
    background: #D9D9D9;
    width: 200px;
    height: 300px;
    color: black;
    border: 5px solid rgb(50, 99, 205);
 
}
.fw-name {
    font-weight:bold ;
}
.set-email {
    font-weight: medium;
  
    
}
#recentMessage span {
    color: black;
}


/* ------the start of nanone---- */

  .app {
    background-color: black;
    width: 80vw;
    border: 5px solid #abcea1;
    border-radius: 8px;
    padding: 15px;
  }
  #addNew {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(171, 206, 161, 0.35);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .fa-plus {
    background-color: #abcea1;
    padding: 3px;
    border-radius: 3px;
  }
  #msg {
    color: red;
  }
  #tasks {

    display: flex;
    color: #000;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;

  }
  #tasks_work {
    display: flex;
    color: #000;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;

    
  }
  .fw-bold {
    color: #000;
    font-weight:bold ;
    padding-left: 20px;
  }
  #del{
    color: red;
    font-size: 20px;

  }
  #edit{
    color: blue;
    font-size: 20px;
  }
  #like{
    color: black;
    font-size: 20px;

  }
  #comment {
    color: black;
    font-size: 20px;
  }
  .img-blog{
    width: 100%;
    height: 200px;
  }

  
  #tasks div {
    border: 2px solid black;
    background-color: #e2eede;
    background: #D9D9D9;
    border-radius: 6px;
    padding: 5px;
    gap: 4px;
    width: 250px;
    height: 550px;
    margin-top: 5vh;
    position: relative;
  }
  .options{
   display: flex;
   align-items: flex-start;
   gap: 2rem;
   position: absolute;
   bottom: 30px;



   

  }
  
  #tasks div .options i {
    cursor: pointer;
  }
  #tasks_work div {
    border: 2px solid black;
    background-color: #e2eede;
    background: #D9D9D9;
    border-radius: 6px;
    padding: 5px;
    gap: 4px;
    width: 250px;
    height: 550px;
    margin-top: 5vh;
    position: relative;
  } 
  #tasks_work div .options i {
    cursor: pointer;
  }
  #display_image {
    width: 300px;
    height: 200px;
    border: 1px solid  black;
    background-position: center;
    background-size: cover;
  }
  .modal-body {
    color: black;
  }

  .update-blog {
    font-family: sans-serif;
    margin-left:  50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }



@media only screen and (min-width: 1440px){


    /* ----login page---- */
   
}
    

@media only screen and (max-width: 1200px) 
{
    section {
        padding-left:0 ;
    }
    .logo-text {
        margin: 0 0 0 27px;
        color: #fff;
        text-decoration: none;
        font-family: 'Kaushan script';
        font-size: x-large;
    }
    .navbar {
        display: flex;
        align-items: center;
    }
    .navbar ul {
      justify-content: space-between;
    }
    .navbar li {
        position: relative;
        list-style: none; 
        padding: 10px;
      }
    .navbar a {
        font-weight: 400px;
        font-size: 2vw;
        text-decoration: none;
        color: #fff;
    }

    .nav-btn {
        justify-content: space-between;
        padding-left: 10vw;
        
    }
    .nav-btn a {
        font-size: 2vw;
     }
    .home-text {
        padding-left: 2vh;
    }
    
    .abt1 p {
        line-height: 1.5;
        font-size: 3vh;
        font-weight: 25;
        margin-left: -6vw;
    
    }
.abt{
    display: flex;
    margin-left: 0;
    padding-left: 0;
}
.abt1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
 .abt1 i {
    
    font-size: 4vh;
    padding: 10px;
    padding-top: 40px;
}
.abt2 {
    margin: 0;
    font-size: 3vh;
    margin-left: 80px;
}
.abt2 i {
    font-size: 4vh;
    padding: 10px;
}

/*--------the start of Skills page---------*/
.skill2 {
    margin-left: 5vw;
}

/* -----the start of my work----- */
.my-work-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,auto));
    grid-gap: 1rem;
    align-items: center;
    cursor: pointer;
    padding: 0; 
    padding-left: 4vw;  
}
.my-work-content .row img {
    max-width: 100%;
    width: 600px;
    height: 250px;
}
.my-work-content .row img:hover {
    opacity: 0.6;
}
.row{
    padding: 0 0 30px 0;
    background: #D9D9D9;
    width: 80%;
}
.row a{
    text-decoration: none;
    color: black;
    padding: 30px;
    font-weight: medium;
    font-size: 2vh;
}
h6{
    padding: 10px;
    color:black;
    font-size: 1.2vw;
}

/*------the end of my-work page------*/
/*-------the start of blog page------*/

.blog-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,auto));
    grid-gap: 1rem;
    align-items: center;
    cursor: pointer;
    padding: 0; 
    padding-left: 4vw;
    display: flex;
    flex-wrap: wrap;
    
}
.blog-content .row img {
    max-width: 100%;
    width: 600px;
    height: 250px;
}
.blog-content .row img:hover {
    opacity: 0.6;
}
.row{
    padding: 0 0 30px 0;
    background: #D9D9D9;
    height: 380px;
    width: 80%;
}
.row a{
    text-decoration: none;
    color: black;
    padding: 30px;
    font-weight: bold;
}
.row a:hover {
    color: #FEA609;
}
/*-------the end of blog page------*/
/*-------the start of contact-me page------*/


/* ----the login page---- */
.form1 form {
    padding: 5vh;
}

.form1 label {
    font-size: 3vh;
}


.form1 {
    background: rgba(217, 217, 217, 0.24);
    height: auto;
    width: auto;
    border-radius: 30px;
    margin-left:25vw ;
    margin-right: 25vw;
    border-style: none;

}
.form1 label {
    font-size: 3vh;
}
.form1 button {
    background:#FEA609;
    margin-top:60px;
    margin-left: 70%;
    padding: 10px;
    font-size: 3vh;
    border-radius: 10px;
    border: none;

}
.form1 button:hover {
    opacity: 0.6;
    /* color: #D9D9D9; */
}


}

/*----media Querry for header------*/
@media only screen and (max-width:800px) {
    section {
    margin-left: 5%;
    }
    .navbar.active{
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        display: flex;
        align-items:flex-start;
        flex-direction: column;
        margin-left: 40vw;
        background: #D9D9D9;
        height: 100vh;
    }
    .navbar {
        display: none;
    }
    .navbar a {
        padding: 0.5rem;
        margin: 0;
        border: none;
        color:black;
        opacity: 0.7;
        font-weight: bold;
    }
    .nav-btn {
        margin: 0;
        padding-left: 30px;
    }
    .navbar a:hover {
        color: #FEA609;
    }
    #menu-icon {
        display: block;
        margin-left: 70vw;
        cursor: pointer;
    }

    #logo {
        display: flex;
    }
    .home {
        height: 100vh;
        background-color: black;
        background-image:url('now1.jpg');
        background-repeat:no-repeat;
        margin-left: -5vw;
        background-size: 80%;
        background-position: center top 30px;
    }
    h1 {
        font-size: 4vh;
        padding-bottom:20px;
        padding-left: 0;
        margin-top: 45vh;
    
    }
    .cv-btn button {
        border-radius: 5px;
        font-size: 2.5vh;
        background: #fff;
        padding: 1vh;
        border: none;
        
    }
    .cv-btn {
    margin-left:70%;
     padding-top: 3vh;} 
    .home-text {
        margin-left: 8vw;
    }
    /* ----The start of about me page------ */
    h2 {
        padding-top: 5vh;
    
    }
    .abt{
        display: block;    
        margin-left: 5vw;
    }
    .abt1 {
        display: block;
        flex-direction: column;
        align-items: center;
        padding: 40px;
    }
     .abt1 i {
        
        font-size: 4vh;
        padding: 5px;
        padding-top: 40px;
    }
    .abt2 {
        margin: 0;
        margin-left: 0;
    }
    .abt2 i {
        font-size: 3vh;
        padding: 5px;
    }
    /*----the start of about-me------*/
    /*-----the start of my-skills -------*/
    .skill {
        display: inline;
        margin: 5vw;
    }
    .container-1{
        display: none;
    }
    
    .container-2{
        display: none;
      
    }
    .lan{
        display: none;
    }
    h3 {
        margin: 5vw;
        padding: 20px;
        background: #D9D9D9;
        color:#000;
        text-align: center;
        border-radius: 10px;
        margin-top: 5vh;
    }
    .skill2 {
        margin-left: 0;
    }
     /*-------The start of my-work------*/

     .my-work-content {
        /* display: inline; */
        margin: 2vh;
    }
       .row{
  
        background: #D9D9D9;
        margin-top: 5vh;
        
    }
    .row a{
        font-size: 2vw;
        padding-left: 1vh;
    }
    h6{
        display: none;
    } 
    /*------the end of blog----*/
    /*-------the start of contact me-----*/
    .contact-me1{
        display: block;
        margin-top: 0;
    }
        
    .cont1 i {
        font-size: 3vh;
        padding: 10px;
        margin-bottom: 0px;
    }
    
    
    .cont input {
        border-right: none;
        border-left: none;
        border-top: none;
        background: none;
        margin: 0;
        width: 60vw;
       
    }
    .cont label {
        font-size: 3vh;
    }
    
    .cont {
        height: auto;
        border:none;
        width: auto;
        margin-left: 2vw;
        margin-top: 0;
    
    }
    .cont form {
        padding: 10px;    
    }
    h5 {
        padding: 20px;
        font-size: 3vh;
    }
    .send {
        height: auto;
        width: auto;
        border-radius: 10px;
        padding: 10px;
        background: white;
        color: black;
        border-color: black;
        border-style: solid;
        box-shadow: #000;
        margin-top: 10px;
        margin-left: 2vw;
        font-size: 2.5vh;
    } 
    .send br {
        display: none;
    }
    /* ----the end of contact me page---- */
    /* -----the start of login page---- */
    .form1 {
        margin-left: 25vw;
        margin-right: 25vw;
        border-radius: 30px;
    
    }
    .form1 label {
    
        color: white;
       
    }    
    .form1 label {
        font-size: 2vh;
    }
    .form1 button {
        background: #FEA609;
        margin-top:60px;
        margin-left: 65%;
        padding: 10px;
        font-size: 2vh;
        border-radius: 10px;
        border: none;
    
    }
    /* -----the start of footer-------- */
    footer {
        display: block;
    }
     footer h3 {
        margin: 0;
        padding: 3vh;
        background: none;
        color:white;
        text-align: center;
        border-radius:1vh;
        margin-top: 5vh;
        font-size: 3vh;
    }
    .res {
        margin-left: 2vw;
        padding-bottom: 2vh;
    }



}
@media (max-width:400px) {
    section {
    margin-left: 5%;
    }
    .navbar{

        display: none;
    }
    .navbar a {
        margin: 0;
        border: none;
        color:black;
        font-size: 3vh;
    }
     h1 {
        font-size: 4vh;
        padding-bottom:20px;
        padding-left: 0;
        margin-top: 45vh;
    
    }
     .cv-btn button {
        border-radius: 5px;
        font-size: 3vh;
        background: #fff;
        padding: 5px;
        border: none;
        
    } 
    .cv-btn {
    padding-top: 0;
    margin-left: 50%;
       
    }
    p {
        font-size: 2.5vh;
        margin-left: 0px;
    }
    .abt1 p {
        font-size: 2.5vh;
    }
    .abt{
        margin-top: 5vh;
    }
    .abt1 {
        padding-top: 0;
    }
    .abt2 {
        margin: 0;
    
        margin-left: 0;
        font-size: 2.4vh;
    }
    /*----the start of about-me------*/
    /*-----the start of my-skills -------*/

    /* ----the end of contact me page---- */
    /* -----the start of login page---- */
    .log-in h2 {
        font-size: 3vh;
        margin-top: 2vh;
    }
    .form1 form {
        padding-top: 0;
        padding-bottom: 0;
    }
    /* ---the start of footer------- */
    .subs {
        margin-left: 5vw;
        margin-bottom: 2vh;
    }
    .subs button {
        padding: 1vh;
        background: #FEA609;
        font-size: 2vh;
    }
    .subs button:hover {
        opacity:0.5;
        color: #fff;
    }
    .subs input {
        padding: 1vh;
        font-size: 2vh;
    }
    .cont1 i {
        font-size: xx-large;
        padding: 10px;
        margin-bottom: 2vh;
        padding-left: 1vw;
    }
    .cont1{
        margin-top: 3vh;
    }
}
/*----media Querry for homepage------*/
@media (max-width:350px) {
    /* -----the about me page----- */
    h2 {
        font-size: 4vh;
    }
    #menu-icon {
        margin-left: 65vw;
    }
    .abt{
        display: block;    
    }

     .abt1 i {
        
        font-size: 4vh;
        padding: 0;
        padding-top: 2vh;
    }
    .abt2 i {
        padding-top: 1vh;

    }
    .abt2 {
        font-size: 2.5vh;
    }
    /* ------skills page----- */
    h3 {
        margin: 0;
        padding: 3vh;
        background: #D9D9D9;
        color:#000;
        text-align: center;
        border-radius:1vh;
        margin-top: 5vh;
        font-size: 3vh;
    }
    /* ------My work page----- */
    .my-work-content {
        display: block;
        margin: 2vh;
    }
    .my-work-content .row img {
        display: none;
    }
    .row{
  
        background: none;
        width: auto;
        height: auto;
        margin-top: 0;
        margin: 0;
        padding: 2vh;
        background: #D9D9D9;
        color:#000;
        text-align: center;
        border-radius:2vh;
        margin-top: 5vh;        
    }
    .row a{
        font-size: 3vh;
    }
    /* -----blog page ------*/
    .blog-content .row img {
        display: none;
    }
    .contact-me1 {
        margin-top: 0;
    }

}



